<div class="row no-gutters d-flex justify-content-center">
        <ul class="pagination">
            {% if contacts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; 처음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ contacts.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo; 처음</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">이전</a>
            </li>
            {% endif %}

            {% for page in page_range %}
            <li class="page-item {% if contacts.number == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if contacts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ contacts.next_page_number }}">다음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ contacts.paginator.num_pages }}">마지막 &raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">마지막 &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>

    